body {
  background-color: rgb(56, 65, 88);
  color: gold;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: large;
  border-radius: 8px;
}
p,
span {
  color: white;
  font-size: 1.3rem;
}
li {
  color: white;
}

.p-map {
  display: inline;
  margin-right: 20px;
}
